
<div id="container">
  <div id="header">
    <div id="headerguts">
    <h1>Task, Inc.</h1>
  </div>
  </div>
  <div id="sidebar">
    <div id="sidebarguts">
    <h2>Tasks Index</h2>
    <div id="sidebarindent">
    <p><%= link_to("Create a New Task", new_task_path) %></p>
    <p><%= link_to("Return to Home", root_path) %></p>
  </div>
  </div>
  </div>
    <div id="contentbig">
      <div id="contentbigguts">
        
    <div id="contentbigguts">
      
      <p>
      <% @tasks.each do |task|%>

      	<p><%= link_to(task.name, task_path(task.id)) %></p>
      <%end%>
      </p>

    </div>
  </div>
    </div>
    <div id="clearcontentright">
    </div>
    <div id="footer">
    </div>
  
</div>