

<div id="doc" class="yui-t2">
  <div id="hd">
    <div id="header"><h1>Task, Inc. - Task Manager</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
      
          <div class="yui-u first">
            <div class="content">
              

              <p>
              <% @tasks.each do |task|%>
 
              	<p><%= link_to(task.name, task_path(task.id)) %></p>
              <%end%>
              </p>
              
            </div>
     
          
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary"><h2>Tasks Index</h2>
        
      
            <p><%= link_to("Create a New Task", new_task_path) %></p>
            <p><%= link_to("Return to Home", root_path) %></p>
      
      
      </div>

    </div>
  </div>
  <div id="ft">
    <div id="footer"></div>
  </div>
</div>

