<div id="header"><h1>User Index</h1></div>
<div id="newsub">



<% @users.each do |user|%>

	<p><%= link_to(user.name, user_path(user.id)) %></p>
<%end%>
</div><p>
<%= link_to("New User", new_user_path) %></p>