
<div id="container">
	
  <div id="header">
    <div id="headerguts">
   	 <h1>Task, Inc.</h1>
  	</div>
  </div>
	
	<div id="sidebar">
	  <div id="sidebarguts">
	  	<h2>Users Index</h2>
	 		 	<div id="sidebarindent">
	 				<p><%= link_to("Return to Home", root_path) %></p>
		 	 	</div>
  	</div>
  </div>
	
  <div id="contentbig">
    <div id="contentbigguts">   
  		<div id="contentbigguts">
				
	      <p>
	     	 		<% @users.each do |user|%>

	      <p><%= link_to(user.name, user_path(user.id)) %></p>
	      	 <%end%>
    
	      </p>
				
  		</div>
		</div>
  </div>
		
	<div id="clearcontentright">
	</div>
	
	<div id="footer">
	</div>
  
</div>