<div id="doc" class="yui-t2">
  <div id="hd">
    <div id="header"><h1>Task, Inc.</h1><br>
      <h2>Task Manager</h2></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-gc">
          <div class="yui-u first">
            <div class="content">Content Here</div>
          </div>
          <div class="yui-u">
            <div class="content">Content Here</div>
          </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary">Secondary Column</div>
    </div>
  </div>
  <div id="ft">
    <div id="footer">Footer</div>
  </div>
</div>