<div id="doc" class="yui-t2">
  <div id="hd">
    <div id="header"><h1>Task, Inc.</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
        <div class="yui-gc">
          <div class="yui-u first">
            <div class="content">(Tasks Here)</div>
          </div>
          <div class="yui-u">
            <div class="content">(Session Data Here)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary">(User Data Here)</div>
    </div>
  </div>
  <div id="ft">
    <div id="footer">(Footer Here)</div>
  </div>
</div>