<div id="doc" class="yui-t2">
  <div id="hd">
    <div id="header"><h1>Task, Inc. - Task Manager</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
      
          <div class="yui-u first">
            <div class="content">
              

              
              
              
              
              
              
             
              
              
              
              
              <% @projects.each do |project|%>

              	<p><%= link_to(project.name, project_path(project.name)) %></p>
              <%end%>
              
              

              


         
              

              </p>
              
              
            </div>
     
          
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary"><h2>Projects Index</h2>
        
      
            <p><%= link_to("Create a New Project", new_project_path) %></p>
            <p><%= link_to("Return to Home", root_path) %></p>
      
      
      </div>

    </div>
  </div>
  <div id="ft">
    <div id="footer"></div>
  </div>
</div>