<div id="container">
  <div id="header">
    <div id="headerguts">
    	<h1>Task, Inc.</h1>
  	</div>
  </div>
	
  <div id="sidebar">
    <div id="sidebarguts">
   	 <h2>Tags Index</h2>
	    <div id="sidebarindent">
	    	<p><%= link_to("Create a New Tag", new_tag_path) %></p>
	    	<p><%= link_to("Return to Home", root_path) %></p>
	  	</div>
  	</div>
  </div>
	
    <div id="contentbig">
      <div id="contentbigguts">     
    		<div id="contentbigguts">
      
		   		<p>
		   			 <% @tags.each do |tag|%>

		    	<p><%= link_to(tag.name, tag_path(tag.id)) %></p>
		    		 <%end%>

   		 	</div>
 		 	</div>	
    </div>
		
	<div id="clearcontentright">
	</div>

	<div id="footer">
	</div> 
	
</div>