.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

#contentall{
  width:400px;
}

#content1{

  width:50%;
  float:left;
  

  
  
}

#content2{
  width:50%;
  float:right;
  
  
}

